<!-- index.html -->
<!-- index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>WebSocket Image Example</title>
</head>
<body>
    <h1>WebSocket Image Example</h1>
    <img id="receivedImage" style="max-width: 100%; max-height: 400px;">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    <script>
        let socket = io("https://pythoncamerasocket.onrender.com");
        const receivedImage = document.getElementById('receivedImage');
        socket.on('connect', function() {
          console.log('Connected to server');
        });
        // Handle received images
        socket.on('image', (data) => {
            receivedImage.src = data.image;
        });
    </script>
</body>
</html>
